*.apk
*.iml
.gradle
.idea
.kotlin
.vscode
.DS_Store
build
*/bin/
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/app/desktopApp/bin/
/app/iosApp/Podfile.lock
/app/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/app/iosApp/iosApp.xcworkspace/contents.xcworkspacedata
